body{
  font-family: 'Roboto', sans-serif;

  header {
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;

    .container{
      width: 90%;
      margin: auto;

      .contact{
        display: flex;
        justify-content: flex-end;
        height: 50px;

        .header-list{
          @include listInline;

          li{
            padding: 0 10px;

            a{
              @include aColorList;
              padding: 0 10px;

              i{
                color: $iconColor;
                padding-right: 5px;
              }

            }
          }
        }
      }
      .main-nav{

        .header-list{
          @include listInline;
            height: 70px;
            width: 90%;
            margin: auto;

          li{
            padding: 0 10px;

              a{
                @include aColorList;
                padding: 10px;

                i{
                  font-size: 13px;
                }

              }
              a:hover{
                padding: 20px 10px;
                border-radius: 2px;
                background-color: #fff;
                color: #000;
            }


          }
        }
      }
    }

  }
}
