main {
  width: 100%;

  .hero{
    @include imgBackground;
    @include displayFlex;
    justify-content: center;
    background-image: url("../img/hero.jpg");

    .left_hero{
      display: flex;
      justify-content: flex-end;
      right: 0;
      width: 60%;

      .inside_left{
        padding: 40px;
        color: $moreColor;

        h2{
          padding: 20px 0;
        }

        .hero-list{
          @include noStyle;

          li{
            padding: 10px 10px;

            a{
              @include aColorList;
              color: $moreColor;
              padding: 10px;

              i{
                font-size: 13px;
              }
            }
          }
        }
        .btn-main-left{
          @extend %btnBase;
          background-color: #666666;

          .left-button{
            border-right: 2px solid $moreColor;
            margin: 0 10px;
            padding: 0 10px;
          }

          i{
            font-size: 25px;
          }
        }
      }
    }

    .right_hero{
      width: 40%;

      .inside-right{
       @include displayFlex;
        background: rgba(0, 0, 0, 0.8);
        width: 75%;
        height: 91%;
        margin-top: 30px;
        margin-left: 30px;

        .list-right{

          .hero-list{
            @include noStyle;
            color: $moreColor;
            padding: 30px;

            li{
              padding: 20px;
            }
          }

          .btn-main-right{
            @extend %btnBase;
            background-color: #009cff;
            margin: 0 50px;
            padding: 10px 40px;
        }
        }

        .logo-right{
          padding: 30px;
        }
      }
    }
  }
}
