@mixin listInline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

@mixin aColorList{
  text-decoration: none;
}

@mixin imgBackground{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

@mixin noStyle{
  list-style: none;
}

@mixin displayFlex{
  display: flex;
  justify-content: space-between;
}

%btnBase{
  display: flex;
  color: $moreColor;
  margin-top: 25px;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
}

%sectionCompiled{
    width: 70%;
    margin: auto;

    h2{
      font-size: 30px;
      text-align: center;
      color: $moreColor;
      padding-top: 100px;
    }

    h4{
      text-align: center;
      color: $moreColor;
      padding: 30px;
      max-width: 70%;
      margin: auto;
    }

    .pdf{
      text-align: center;
      color: $moreColor;
      padding: 20px;

      i{
        border-radius: 100%;
        border: 1px solid $moreColor;
        vertical-align: middle;
        width: 34px;
        height: 34px;
        font-size: 20px;
        padding: 5px;
      }
    }
    img{
      margin-left: 5%;
    }


}
